<div class="flex justify-between items-center px-3">
    <div>
        <h3 class=" font-semibold">
            Baked chicken wings asian style
        </h3>
        <p class=" line-clamp-2 font-extralight text-gray-500">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Laborum beatae, architecto ipsum sapiente ab quidem modi,
            quae reiciendis quis libero, sint dicta ex eos quas eius?
            Adipisci sint ducimus nihil?
        </p>
    </div>
    <div>
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
            src="https://img.freepik.com/free-photo/baked-chicken-wings-asian-style_2829-10158.jpg?w=740&t=st=1710249428~exp=1710250028~hmac=79c650bee082459315d4d2e12b41b1173f5bb7f56a1347193e922bc648bca2d5"
            alt="Delicious Recipe">
    </div>
</div>